<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>
    <nav class="container">
      <a href="./index.html">
        <h1>
          <img src="./assets/images/logo-white.png" alt="glasses-logo">
        </h1>
      </a>
      <ul class="headr-nav">
        <li>
          <a href="#">系列鏡框</a>
        </li>
        <li>
          <a href="#">門市據點</a>
        </li>
        <li>
          <a href="#">部落格</a>
        </li>
        <li>
          <a href="./FAQ.html" >常見問題</a>
        </li>
      </ul>
    </nav>
  </header>

  <%- contents %>

  <footer>
    <div class="container">
      <div class="footer-content">
        <ul class="footer-above">
          <li class="footer-nav">
            <a href="/index.html">首頁</a>
            <a href="#">系列鏡框</a>
            <a href="#">門市據點</a>
            <a href="#">部落格</a>
            <a href="#">常見問題</a>
          </li>
          <li class="footer-contact">
            <span class="material-icons-outlined">call</span>
            <a href="#">0800-000-000</a>
          </li>
          <li class="footer-contact">
            <span class="material-icons-outlined">email</span>
            <a href="#">glasses@business.co</a>
          </li>
        </ul>
        <ul class="footer-icons">
          <li>
            <a href="#">
              <img src="assets/images/ic-social-fb.png" alt="FB">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/ic_social_ig.png" alt="IG">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/images/ic_social_line.png" alt="LINE">
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="terms">
          <li>
            <a href="#">隱私權政策</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
