/* 系統預設字體 */
body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif; }
  
/* header區域 */
header{
  background: #AA0601;
  padding: 16px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }
  img {
    width: 80px;
  }
  ul {
    display: flex;
    li {
      margin-right: 64px;
      &:last-child {
        margin-right: 0px;
      }
      a:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
  a {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
  }
  .burger-menu{
    color: #fff;
    cursor: pointer;
    display: none;
  }
}

/* footer區域 */
footer {
  background: #AA0601;
  color: #fff;
  padding-top: 60.2px;
  padding-bottom: 32px;
  a {
    color: #fff;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .footer-above {
    text-align: left;
  }
  .footer-nav {
    margin-bottom: 36px;
    a {
      margin-right: 48px;
      &:last-child {
        margin-right: 0px;
      }
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
  .footer-contact {
    display: flex;
    align-items: center;
    span {
      font-size: 48px;
    }
    a {
      font-size: 36px;
      line-height: 54px;
      margin-left: 16px;
      &:hover{
        border-bottom: 2px solid #fff;
      }
    }
  }
  .footer-icons {
    display: flex;
    li {
      margin-left: 32px;
      &:first-child {
        margin-left: 0px;
      }
    }
    img {
      width: 48px;
      height: 48px;
    }
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 16px;
      line-height: 24px;
    }
    .terms {
      display: flex;
      font-size: 14px;
      line-height: 21px;
      a {
        margin-left: 48px;
        &:hover{
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}

/* 桌機 (1110 + 30 gutter) */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 平板 (690 + 30 gutter) */
@media (max-width: 768px) {
  header {
    padding: 12px 24px;
  }
  footer {
    padding: 0;
    .container {
      padding: 56.2px 36px 40px 36px;
    }
    .footer-icons {
      li {
        margin-left: 16px;
        &:first-child {
          margin-left: 0px;
        }
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
/* 手機 (345 + 30 gutter) */
@media (max-width: 375px) {
  header{
    padding: 0;
    .container{
      flex-direction: column;
      padding: 0;
      img {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
    .headr-nav{
      display: flex;
      flex-wrap: wrap;
      li {
        margin: 0;
        border: 1px solid #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 51px;
        padding-right: 52px;
        &:nth-child(3) {
          padding-left: 61px;
          padding-right: 62px;
        }
      }
    }
    a{
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px;
      &:hover{
        color: #AA0601;
        background-color: #fff;
      }
    }
  }
  footer{
    .container{
      width: 92%;
      padding: 24px 0;
      .footer-content{
        padding-bottom: 24px;
        margin-bottom: 16px;
      }
    }
    .footer-above{
      padding-top: 0 ;
    }
    .footer-nav{
      display: none;
    }
    .footer-contact{
      span{
        font-size: 18px;
      }
      a{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .footer-icons{
      width: 26%;
      img{
        width: 24px;
        height: 24px;
      }
  }
    .copyright{
      flex-direction: column;
      text-align: left;
      .terms{
        display: flex;
        flex-direction: column;
        a{
          margin-left: 0;
          margin-top: 8px;
        }
      }
    }
  }
}