@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 去除圖片底部留白 */
img {
  max-width: 100%;
  height: auto;
  display: block; }

*, *::before, *::after {
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* 系統預設字體 */
body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif; }

/* header區域 */
header {
  background: #AA0601;
  padding: 16px 0; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 12px; }
  header img {
    width: 80px; }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header ul li {
      margin-right: 64px; }
      header ul li:last-child {
        margin-right: 0px; }
      header ul li a:hover {
        border-bottom: 2px solid #fff; }
  header a {
    color: #fff;
    font-size: 20px;
    line-height: 30px; }
  header .burger-menu {
    color: #fff;
    cursor: pointer;
    display: none; }

/* footer區域 */
footer {
  background: #AA0601;
  color: #fff;
  padding-top: 60.2px;
  padding-bottom: 32px; }
  footer a {
    color: #fff; }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 32px;
    margin-bottom: 32px; }
  footer .footer-above {
    text-align: left; }
  footer .footer-nav {
    margin-bottom: 36px; }
    footer .footer-nav a {
      margin-right: 48px; }
      footer .footer-nav a:last-child {
        margin-right: 0px; }
      footer .footer-nav a:hover {
        border-bottom: 2px solid #fff; }
  footer .footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-contact span {
      font-size: 48px; }
    footer .footer-contact a {
      font-size: 36px;
      line-height: 54px;
      margin-left: 16px; }
      footer .footer-contact a:hover {
        border-bottom: 2px solid #fff; }
  footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer-icons li {
      margin-left: 32px; }
      footer .footer-icons li:first-child {
        margin-left: 0px; }
    footer .footer-icons img {
      width: 48px;
      height: 48px; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .copyright p {
      font-size: 16px;
      line-height: 24px; }
    footer .copyright .terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px;
      line-height: 21px; }
      footer .copyright .terms a {
        margin-left: 48px; }
        footer .copyright .terms a:hover {
          border-bottom: 2px solid #fff; }

/* 桌機 (1110 + 30 gutter) */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

/* 平板 (690 + 30 gutter) */
@media (max-width: 768px) {
  header {
    padding: 12px 24px; }
  footer {
    padding: 0; }
    footer .container {
      padding: 56.2px 36px 40px 36px; }
    footer .footer-icons li {
      margin-left: 16px; }
      footer .footer-icons li:first-child {
        margin-left: 0px; }
    footer .footer-icons img {
      width: 40px;
      height: 40px; } }

/* 手機 (345 + 30 gutter) */
@media (max-width: 375px) {
  header {
    padding: 0; }
    header .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; }
      header .container img {
        margin-top: 12px;
        margin-bottom: 12px; }
    header .headr-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      header .headr-nav li {
        margin: 0;
        border: 1px solid #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 51px;
        padding-right: 52px; }
        header .headr-nav li:nth-child(3) {
          padding-left: 61px;
          padding-right: 62px; }
    header a {
      color: #fff;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px; }
      header a:hover {
        color: #AA0601;
        background-color: #fff; }
  footer .container {
    width: 92%;
    padding: 24px 0; }
    footer .container .footer-content {
      padding-bottom: 24px;
      margin-bottom: 16px; }
  footer .footer-above {
    padding-top: 0; }
  footer .footer-nav {
    display: none; }
  footer .footer-contact span {
    font-size: 18px; }
  footer .footer-contact a {
    font-size: 16px;
    line-height: 24px; }
  footer .footer-icons {
    width: 26%; }
    footer .footer-icons img {
      width: 24px;
      height: 24px; }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left; }
    footer .copyright .terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .copyright .terms a {
        margin-left: 0;
        margin-top: 8px; } }

section {
  padding: 80px 0; }
  @media (max-width: 768px) {
    section {
      padding: 40px 0; } }

/* banner區域 */
.banner {
  padding: 296px 0;
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center; }
  @media (max-width: 768px) {
    .banner {
      background-image: url(../images/home-header-sm.png); } }
  .banner .container {
    text-align: right;
    color: #650300; }
    .banner .container p {
      font-size: 36px;
      line-height: 54px; }
    .banner .container h2 {
      font-size: 64px;
      line-height: 96px;
      margin-bottom: 4px; }
    .banner .container button {
      font-size: 20px;
      line-height: 30px;
      padding: 6px 12px;
      color: #fff;
      background-color: #AA0601;
      border: none;
      cursor: pointer; }
      .banner .container button:hover {
        background-color: #650300; }

/* professional區域 */
.professional {
  background-color: #FBF2F2; }
  .professional h2 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    margin-bottom: 24px;
    text-align: center; }
  .professional ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .professional ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .professional ul img {
      width: 100px;
      margin: auto;
      margin-bottom: 16px; }
    .professional ul li {
      width: 25%;
      margin: 0 12px; }
      @media (max-width: 768px) {
        .professional ul li {
          width: calc(50% - 24px); } }
  .professional h3 {
    color: #650300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 8px; }
  .professional p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 250; }
    @media (max-width: 768px) {
      .professional p {
        font-weight: normal; } }

/* classic區域 */
.classic h2 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  margin-bottom: 48px;
  text-align: center; }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .classic ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 216px; } }
  .classic ul li {
    margin: 0 12px; }
    @media (max-width: 768px) {
      .classic ul li {
        margin-bottom: 24px; } }
    .classic ul li h3 {
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #AA0601;
      margin-top: 8px;
      font-style: italic; }
      @media (max-width: 768px) {
        .classic ul li h3 {
          margin-top: 8px;
          width: 336px;
          height: 72px; } }

/* co-branding區域 */
.co-branding {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center; }
  .co-branding h2 {
    color: #fff;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 48px;
    text-align: center; }
  .co-branding ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .co-branding ul {
        display: block; } }
    .co-branding ul li {
      width: 50%;
      margin-bottom: 24px; }
      @media (max-width: 768px) {
        .co-branding ul li {
          width: 100%; } }
      .co-branding ul li h3 {
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: #AA0601;
        font-style: italic;
        background-color: #fff;
        padding: 8px 0; }

/* recommend區域 */
.recommend .card1 .card-img {
  background-image: url(../images/home-section5-1.png);
  background-size: cover;
  background-position: center; }

.recommend .card2 .card-img {
  background-image: url(../images/home-section5-2.png);
  background-size: cover;
  background-position: center; }

.recommend .card3 .card-img {
  background-image: url(../images/home-section5-3.png);
  background-size: cover;
  background-position: center; }

.recommend .card4 .card-img {
  background-image: url(../images/home-section5-4.png);
  background-size: cover;
  background-position: center; }

.recommend h2 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  text-align: center;
  margin-bottom: 48px; }

.recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .recommend ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .recommend ul li {
    width: calc(25% - 24px);
    margin: 0 12px;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
    -webkit-box-shadow: 0 2px 6px 0 #00000029;
            box-shadow: 0 2px 6px 0 #00000029; }
    @media (max-width: 768px) {
      .recommend ul li {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: calc(50% - 24px);
        margin-bottom: 24px; } }
    .recommend ul li .card-img {
      height: 306px; }
    .recommend ul li .card-text {
      height: 205px;
      padding: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .recommend ul li p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px; }
    .recommend ul li .date {
      font-size: 14px;
      line-height: 21px;
      color: #707070;
      margin-top: auto; }

/* contact-us區域 */
.contact-us {
  background-color: #FBF2F2; }
  .contact-us .conatct-us-container {
    max-width: 636px;
    margin: 0 auto;
    padding: 0 12px; }
  .contact-us h2 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    text-align: center;
    margin-bottom: 48px; }
  .contact-us p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .contact-us label {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px; }
  .contact-us input, .contact-us textarea {
    width: 100%;
    margin-bottom: 16px;
    border: 1px solid #000;
    padding: 6px 12px;
    background-color: #fff0; }
    .contact-us input::-webkit-input-placeholder, .contact-us textarea::-webkit-input-placeholder {
      color: #00000020;
      font-size: 16px;
      line-height: 24px; }
    .contact-us input::-moz-placeholder, .contact-us textarea::-moz-placeholder {
      color: #00000020;
      font-size: 16px;
      line-height: 24px; }
    .contact-us input:-ms-input-placeholder, .contact-us textarea:-ms-input-placeholder {
      color: #00000020;
      font-size: 16px;
      line-height: 24px; }
    .contact-us input::-ms-input-placeholder, .contact-us textarea::-ms-input-placeholder {
      color: #00000020;
      font-size: 16px;
      line-height: 24px; }
    .contact-us input::placeholder, .contact-us textarea::placeholder {
      color: #00000020;
      font-size: 16px;
      line-height: 24px; }
  .contact-us textarea {
    height: 136px;
    resize: none; }
  .contact-us .contact-checkbox {
    width: 24px;
    height: 24px;
    margin-right: 4px; }
  .contact-us .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact-us form button {
    display: block;
    margin: 48px auto 0;
    max-width: 416px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #AA0601;
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer; }
    .contact-us form button:hover {
      background-color: #650300; }

.FAQ .container {
  margin: 96px auto 80px auto; }
  @media (max-width: 768px) {
    .FAQ .container {
      width: calc(100% - 36px); } }

.FAQ h2 {
  font-size: 48px;
  line-height: 72px;
  border-left: 8px solid #9F1213;
  padding-left: 16px; }

.FAQ h3 {
  font-size: 24px;
  line-height: 36px;
  margin: 32px auto 24px auto; }

.FAQ .question {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px; }

.FAQ .answer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 32px; }

/*# sourceMappingURL=all.css.map */
